# Node
node_modules/
dist/
coverage/
.npm/
backend/src/generated/

# Environment
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/

# IDE
.vscode/
.idea/
